<div class="purple">
  <h3 class="f5 mb4 mb5-ns mt5 mt6-ns pb2 bb">Default Font</h3>

  <code class="f6 mb3 db">
  &lt;h1 class="f3 lh-copy"&gt;Title&lt;/h1&gt;
  </code>
  <p class="f3 lh-copy mt0 mb4 mb5-ns measure">
    JUMP LIGHTLY, DADDY-WIZARD. BRACE FOR VEXING EARTHQUAKES. 
    Zachary Quinto’s kid reblogs vaporwave remixes in a jiffy.
  </p>

  <code class="f6 mb3 db">
  &lt;h1 class="f4 lh-copy"&gt;Title&lt;/h1&gt;
  </code>
  <p class="f4 lh-copy mt0 mb4 mb5-ns measure">
    JUMP LIGHTLY, DADDY-WIZARD. BRACE FOR VEXING EARTHQUAKES. 
    Zachary Quinto’s kid reblogs vaporwave remixes in a jiffy.
  </p>

  <code class="f6 mb3 db">
  &lt;h1 class="f5 lh-copy"&gt;Title&lt;/h1&gt;
  </code>
  <p class="f5 lh-copy mt0 mb4 mb5-ns measure">
    JUMP LIGHTLY, DADDY-WIZARD. BRACE FOR VEXING EARTHQUAKES. 
    Zachary Quinto’s kid reblogs vaporwave remixes in a jiffy.
  </p>

  <code class="f6 mb3 db">
  &lt;h1 class="f6 lh-copy"&gt;Title&lt;/h1&gt;
  </code>
  <p class="f6 lh-copy mt0 measure word-wrap">
    JUMP LIGHTLY, DADDY-WIZARD. BRACE FOR VEXING EARTHQUAKES. 
    Zachary Quinto’s kid reblogs vaporwave remixes in a jiffy.
  </p>
</div>