<header class="dib w-100 ph4 pv3 pv4-ns">
  <nav class="f6 fw6">
    <a class="link dim black dib mr3" href="/" title="Home">Web</a>
    <a class="link dim black dib mr3" href="/android" title="android">Android</a>
    <a class="link dim black dib mr3" href="/ios" title="ios">iOS</a>
    <a class="link dim black dib mr3" href="/favorit" title="favorit">Favorit...</a>
    <button class="f6 br-pill ph6 p1 mb2 dib white bg-ghost" id="hide">Hide</button> 
    <button class="f6 br-pill ph6 p1 mb2 dib white bg-ghost" id="show">Show</button>
  </nav>
</header>